<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Arkila: Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

<%- include references %>
</head>

<%- include header-user %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%=data[0].fName%>, <%=data[0].lName%></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://pbs.twimg.com/profile_images/2945144357/b32c3e33a2fa30d4df34f98e060839ad.jpeg" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>User Name:</td>
                    <td><%=data[0].username%></td>
                  </tr>
                  <tr>
                    <td>Mobile:</td>
                    <td><%=data[0].contactNum%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
 <%- include footer %>

 </body>
 </html>